<?xml version="1.0"?>
<config>
    <modules>
        <Spletnisistemi_Fastimporter>
            <version>0.2.2</version>
        </Spletnisistemi_Fastimporter>
    </modules>
    <frontend>
        <routers>
            <fastimporter>
                <use>standard</use>
                <args>
                    <module>Spletnisistemi_Fastimporter</module>
                    <frontName>fastimporter</frontName>
                </args>
            </fastimporter>
        </routers>
        <layout>
            <updates>
                <fastimporter>
                    <file>fastimporter.xml</file>
                </fastimporter>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <fastimporter>
                <use>admin</use>
                <args>
                    <module>Spletnisistemi_Fastimporter</module>
                    <frontName>fastimporter</frontName>
                </args>
            </fastimporter>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <fastimporter module="fastimporter">
                        <title>Fast Importer</title>
                        <sort_order>999</sort_order>
                        <action>fastimporter/adminhtml_fastimporter/index</action>
                    </fastimporter>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fastimporter>
                                            <title>Fast Importer</title>
                                        </fastimporter>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <fastimporter>
                    <file>fastimporter.xml</file>
                </fastimporter>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <fastimporter>
                <class>Spletnisistemi_Fastimporter_Model</class>
                <resourceModel>fastimporter_mysql4</resourceModel>
            </fastimporter>
            <attributes>
                <class>Spletnisistemi_Fastimporter_Model_Attributes</class>
                <resourceModel>fastimporter_mysql4</resourceModel>
            </attributes>
            <fastimporter_mysql4>
                <class>Spletnisistemi_Fastimporter_Model_Mysql4</class>
                <entities>
                    <fastimporter>
                        <table>fastimporter</table>

                    </fastimporter>
                    <attributes>
                        <table>fastimporter_attributes</table>
                    </attributes>
                </entities>
            </fastimporter_mysql4>
        </models>
        <resources>
            <fastimporter_setup>
                <setup>
                    <module>Spletnisistemi_Fastimporter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fastimporter_setup>
            <fastimporter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fastimporter_write>
            <fastimporter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fastimporter_read>
        </resources>
        <blocks>
            <fastimporter>
                <class>Spletnisistemi_Fastimporter_Block</class>
            </fastimporter>
        </blocks>
        <helpers>
            <fastimporter>
                <class>Spletnisistemi_Fastimporter_Helper</class>
            </fastimporter>
        </helpers>
    </global>

    <crontab>
        <jobs>
            <fastimporter>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fastimporter/observer::cron</model>
                </run>
            </fastimporter>
        </jobs>
    </crontab>
</config>
